{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}Coins Dashboard{% endblock %}

{% block head %}
        <!-- DataTables CSS -->
    <link href="{% static 'dashboard/vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'dashboard/vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">

    <script type="text/javascript" charset="utf8" src="{% static 'js/djdatatableview.js' %}"></script>
{% endblock %}

{% block title_page %}Check{% endblock %}

{% block main %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Check Query
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {{table_check_queries|safe}}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock main %}

{%block foot %}
        <!-- DataTables JavaScript -->
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    <script type="text/javascript">
        $(function(){
            djdatatableview.initialize('table_check_queries', {
                columns: [
                    {data: 'name'},
                    {data: 'params'},
                    {data: 'result'},
                    {data: 'expected'},
                    {data: 'created_at'},
                    {data: 'passed'},
                ]
            });
        });
    </script>
{% endblock%}
