{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}Coins Dashboard{% endblock %}

{% block head %}
        <!-- DataTables CSS -->
    <link href="{% static 'dashboard/vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'dashboard/vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">

    <script type="text/javascript" charset="utf8" src="{% static 'js/djdatatableview.js' %}"></script>
{% endblock %}

{% block title_page %}Dashboard{% endblock %}

{% block main %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Coins
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {{table_coins|safe}}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Markets
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {{table_markets|safe}}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tickers
                </div>
                <div class="panel-body">
                    {{table_tickers|safe}}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{%block foot %}
        <!-- DataTables JavaScript -->
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    <script type="text/javascript">
        var tables = {};
        $(function(){
            tables.coins = djdatatableview.initialize('table_coins', {
                columns: [
                    {data: 'code'},
                    {data: 'name'},
                ]
            });
            tables.markets = djdatatableview.initialize('table_markets', {
                columns: [
                    {data: 'code'},
                    {data: 'coin'},
                    {data: 'unit'},
                ]
            });
            tables.tickers = djdatatableview.initialize('table_tickers', {
                columns: [
                    {data: 'market'},
                    {data: 'price'},
                    {data: 'volumn'},
                    {data: 'date'},
                    {data: 'sequence'},
                ],
            });
        });
    </script>
{% endblock%}
